<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>没有女朋友title都不会写了...</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style>
        th {text-align:center}
    </style>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>

<body style="text-align: center">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">欢迎来到帅核桃的资产管理系统</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">资产概览</a></li>
                <li><a href="/sqlinj">SQL注入点</a></li>
                <li><a href="/xunfeng">联动巡风</a></li>
                <li><a href="/status">扫描概览</a></li>
                <li><a href="/add">添加资产</a></li>
                <li><a href="/add_scanner">添加扫描节点</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>
