{% include "head.html" %}
    <p>
        1. 如果你不知道巡风是什么，请不要使用这个功能。
    </p>
    <p>
        2. 如果你想知道巡风是什么，请移步--> <a href="https://github.com/ysrc/xunfeng">https://github.com/ysrc/xunfeng</a>
    </p>
    	<div class="form-group">
		<label for="firstname" class="col-sm-2 control-label">Mongo的连接信息</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="firstname"
				   placeholder="mongodb://用户名:密码@host:port 例如xunefng:password@localhost:65521/database">
		</div>
	</div>
{% include "foot.html" %}